.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/

*.log

*.apk
*.aab
*.zip
*.tar.gz

mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/.packages
mobile_app/build/
mobile_app/temp_android/
mobile_app/temp_fix/
mobile_app/android/.gradle/
mobile_app/android/local.properties

new_backend/.pytest_cache/
new_backend/.mypy_cache/
new_backend/.env
new_ml/.pytest_cache/
new_ml/.mypy_cache/
new_ml/models/best_model.pkl
